<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mahmoud_ashraf.to_do_list">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddTaskActivity"
            android:label="@string/add_task_activity_name"></activity>

        <!-- 3 - Register the TaskContentProvider -->
        <!-- 4 - Set name, authorities, and exported attributes -->
        <!-- exported = false limits access to this ContentProvider to only this app -->
        <provider
            android:name="com.mahmoud_ashraf.to_do_list.data.TaskContentProvider"
            android:authorities="com.mahmoud_ashraf.to_do_list"
            android:exported="false" />
    </application>

</manifest>